@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

$icon-font-path: '../fonts/';
$body-bg: #e4e7ec;

$font-family-base: 'Open Sans', sans-serif;
$headings-color: #111;
$headings-font-family: Avenir, sans-serif;
$headings-font-weight: bold;

$brand-success: #22ae5f;
$brand-primary: #1d7cf4;
$brand-danger: #b30015;
$brand-warning: #ffd66a;

$text-muted: #90939a;
$link-color: #000;

$navbar-default-link-active-bg: #f7f7f7;
$navbar-default-link-color: #848484;
$navbar-default-bg: #fff;
$navbar-default-border: #e3e9ec;

$navbar-default-brand-color: #333;
$navbar-default-brand-hover-color: #ffe939;
$navbar-default-brand-hover-bg: #333;

$btn-success-bg: $brand-success;
$btn-success-border: darken($btn-success-bg, 3%);
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 3%);

$jumbotron-padding: 16px;
$jumbotron-bg: #f4f6f8;

$alert-border-radius: 0;
$input-border-radius: 0;

$alert-success-text: #fff;
$alert-success-bg: #60c060;
$alert-success-border: darken($alert-success-bg, 3%);

$alert-danger-text: #fff;
$alert-danger-bg: $brand-danger;
$alert-danger-border: darken($alert-danger-bg, 3%);

$alert-info-bg: #e5f7fd;
$alert-info-border: #bcf8f3;
$alert-info-text: #25484e;

@import '../bower_components/bootstrap/dist/css/bootstrap';





.alert {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);

}

.alert.top-right {
  position: fixed;
  top: 50px;
  right: 0;
  margin: 20px;
  z-index: 9999999 !important;
  outline: none;

  .close {
    padding-left: 10px
  }
}

.alert-material {
  font-family: 'Roboto', sans-serif;
  outline: none;
  display: inline-block;
  background: #323232;
  color: #f1f1f1;
  min-height: 48px;
  padding: 13px 24px 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  z-index: 1;
  border-radius: 2px;
  cursor: default;

}

.alert.bottom-right{
   position: fixed;
   bottom: 12px;
   right: 12px;
   z-index: 9999999 !important;
   .close {
    padding-left: 10px
  }
}

.alert-dismissable .close {
  line-height: 19px;
  top: 0;
  right: -11px;
  color: #eeff41;
  cursor: pointer;
  float: right;
  opacity: 1;
  text-shadow: none;
  font-weight: normal;
}

.fade-repeat.ng-enter {
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}

.fadeZoom.ng-enter {
  -webkit-animation-name: fadeIn, zoomIn;
  -webkit-animation-duration: 0.6s, 0.2s;
  animation-name: fadeIn, zoomIn;
  animation-duration: 0.6s, 0.2s;
}

.fadeZoomFadeDown.ng-enter {
  @extend .fadeZoom.ng-enter;
}

.fadeZoomFadeDown.ng-leave {
  -webkit-animation: fadeOutDown 0.6s;
  animation: fadeOutDown 0.6s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    -ms-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}


